body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.navbar {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: #020617;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px;
}

.product-card {
  background: #020617;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}


.product-detail {
  display: flex;
  padding: 40px;
  gap: 50px;
}

.gallery img {
  width: 320px;
}

.thumbs img {
  width: 70px;
  margin: 5px;
  cursor: pointer;
}

.info h1 {
  font-size: 32px;
}

.info h2 {
  color: #38bdf8;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 6px 0;
}

.specs {
  padding: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #334155;
  padding: 10px;
}

.cart {
  padding: 40px;
}

.cart h1 {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background: #020617;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart-item button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 30px;
  padding: 20px;
  background: #020617;
  border-radius: 10px;
  text-align: right;
}
